.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    gap: 2.5rem;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .weatherContainer {
    display: flex;
    justify-content: center; /* centrera väderkolumnen */
    align-items: center;
    width: 100%;
    max-width: 64rem;
    
  }
  
  .weatherColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .emoji {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }
  .arrowRight {
    font-size: 1.875rem;
    transition: transform 0.2s ease-in-out;
    align-self: center; /* så den centreras vertikalt med väderkolumnen */
    
    cursor: pointer;
  }
  
  .arrowRight:hover {
    transform: scale(1.1);
  }