.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    gap: 2.5rem;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .weather-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 64rem;
  }
  
  .weather-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .emoji {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }
  .arrowLeft {
    position: absolute;
    left: 1.5rem;
    bottom: 1.5rem;
    font-size: 1.875rem;
    transition: transform 0.2s ease-in-out;
  }
  
  .arrowLeft:hover {
    transform: scale(1.1);
  }